@page "/add-schedule/{id:int?}"
@using Microsoft.Extensions.Logging
@using VisitsApp.Core.Services

@inject ScheduleService service;
@inject ILogger<ScheduleService> Logger;

@if (Id != null)
{
    <h3>Редактирование расписания</h3>
}
else
{
    <h3>Добавить расписание</h3>
}

<!-- Выбор месяца, года и названия расписания -->
<div class="row g-3 mb-4 align-items-end">
    <!-- Месяц -->
    <div class="col-md-3">
        <label for="monthSelect" class="form-label fw-bold small">Выберите месяц:</label>
        <select id="monthSelect" class="form-select shadow-sm"
                @bind="selectedMonthIndex"
                @bind:after="UpdateScheduleName">
            @for (int i = 0; i < months.Length; i++)
            {
                <option value="@i">@months[i]</option>
            }
        </select>
    </div>

    <!-- Год -->
    <div class="col-md-2">
        <label for="yearSelect" class="form-label fw-bold small">Год:</label>
        <select id="yearSelect" class="form-select shadow-sm"
                @bind="currentYear"
                @bind:after="UpdateScheduleName">
            @for (int year = DateTime.Now.Year - 1; year <= DateTime.Now.Year + 5; year++)
            {
                <option value="@year">@year</option>
            }
        </select>
    </div>

    <!-- Название расписания -->
    <div class="col-md-7">
        <label for="scheduleName" class="form-label fw-bold small">Название расписания:</label>
        <div class="input-group shadow-sm">
            <span class="input-group-text bg-white"><i class="bi bi-pencil-square"></i></span>
            <input id="scheduleName" type="text" class="form-control"
                   @bind="scheduleName" placeholder="Например: Продвинутая группа - Февраль" />
        </div>
    </div>

    <!-- Стоимость -->
    <div class="col-md-4 mt-3">
        <label class="form-label fw-bold small">Стоимость абонемента:</label>
        <div class="input-group shadow-sm">
            <input type="number" class="form-control" @bind="costSubscriptions" />
            <span class="input-group-text">₽</span>
        </div>
    </div>
</div>

<div class="row text-center fw-bold mb-2">
    @foreach (var d in weekHeaders)
    {
        <div class="col border py-2 @(d.IsWeekend ? "text-danger" : "")">
            @d.Name
        </div>
    }
</div>
<!-- Кнопки дней -->
@foreach (var week in weeks)
{
    <div class="row text-center">
        @foreach (var day in week)
        {
            if (day == null)
            {
                <div class="col border p-2 bg-light"></div>
            }
            else
            {
                <div class="col border p-2">
                    <button class="btn w-100
                                   @(SelectedDays.Contains(day.Value) ? "btn-primary" : "btn-outline-secondary")"
                            @onclick="() => ToggleDaySelection(day.Value)">
                        @day.Value.Day
                    </button>
                </div>
            }
        }
    </div>
}

<!-- Кнопка сохранить -->
<div class="row">
    <div class="col-4">
        <button type="button" class="btn btn-success" 
                @onclick="SaveSchedule">
            Сохранить расписание
        </button>
    </div>
</div>



@code 
{
    [Parameter]
    public int? Id { get; set; }

    private int? currentYear = DateTime.Now.Year;

    private int? selectedMonthIndex = null;

    private string[] months = new string[] 
    { "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", 
      "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"};

    List<(string Name, bool IsWeekend)> weekHeaders = new()
    {
        ("Пн", false), ("Вт", false), ("Ср", false), ("Чт", false),
        ("Пт", false), ("Сб", true), ("Вс", true)
    };

    List<List<DateTime?>> weeks = new();

    private string scheduleName = string.Empty;

    private decimal costSubscriptions = 0;

    private HashSet<DateTime> SelectedDays { get; set; } = new HashSet<DateTime>(); // Храним выбранные дни

    protected async override Task OnInitializedAsync()
    {
        if (Id != null)
        {
            var loadedSchedule = await service.GetSchedule(Id.Value);

            costSubscriptions = loadedSchedule.CostSubscriptions;
            selectedMonthIndex = loadedSchedule.Month-1;

            scheduleName = string.IsNullOrEmpty(loadedSchedule.ScheduleName) ? $"{months[selectedMonthIndex.Value]} {loadedSchedule.Year}" 
                                                                             : loadedSchedule.ScheduleName;

            int daysInMonth = DateTime.DaysInMonth(loadedSchedule.Year, loadedSchedule.Month);
            List<DateTime> allDays = new List<DateTime>();
            for (int day = 1; day <= daysInMonth; day++)
            {
                var newDay = new DateTime(loadedSchedule.Year, loadedSchedule.Month, day);
                allDays.Add(newDay);
                if (loadedSchedule.Days.FirstOrDefault(x=>x.Day == day) != null)
                {
                    ToggleDaySelection(newDay);
                }
            }
            BuildCalendar(allDays);

            StateHasChanged();
        }
    }

    private void UpdateScheduleName()
    {
        if (selectedMonthIndex == null)
        {
            return;
        }
        if (currentYear == null)
        {
            return;
        }

        var year = currentYear.Value;
        var monthIndex = selectedMonthIndex.Value;

        scheduleName = $"{months[monthIndex]} {currentYear}";
        SelectedDays.Clear(); // Очищаем выбранные дни при смене месяца

        int daysInMonth = DateTime.DaysInMonth(year, monthIndex + 1);
        List<DateTime> allDays = new List<DateTime>();
        for (int day = 1; day <= daysInMonth; day++)
        {
            allDays.Add(new DateTime(year, monthIndex + 1, day));
        }

        BuildCalendar(allDays);
        StateHasChanged(); // Обновляем UI, чтобы кнопки дней перерисовались
    }

    private void ToggleDaySelection(DateTime day)
    {
        if (SelectedDays.Contains(day))
        {
            SelectedDays.Remove(day);
        }
        else
        {
            SelectedDays.Add(day);
        }
    }

    private async Task SaveSchedule()
    {
        if (currentYear == null)
        {
            Logger.LogWarning("Сохранение расписания отменено, не выбран год");
            return;
        }
        if (selectedMonthIndex == null)
        {
            Logger.LogWarning("Сохранение расписания отменено, не выбран месяц");
            return;
        }
        if (SelectedDays.Count == 0)
        {
            Logger.LogWarning("Сохранение расписания отменено, не выбраны дни");
            return;
        }

        var days = SelectedDays.Select(x=>x.Day).ToList();
        var schedule = new VisitsApp.Core.Models.Schedule
        {
             CostSubscriptions = costSubscriptions,
             Month = selectedMonthIndex.Value + 1,
             ScheduleName = scheduleName,
             Year = currentYear.Value,
             Days = new List<VisitsApp.Core.Models.ScheduleDay?>(days.Count)
        };
        foreach (var d in days)
        {
            schedule.Days.Add(new VisitsApp.Core.Models.ScheduleDay { Schedule = schedule, Day = d });
        }

        try
        {
            if (Id != null)
            {
                schedule.Id = Id.Value;
                await service.UpdateShedule(schedule);
            }
            else
            {
                await service.AddSchedule(schedule);
            }

            SelectedDays.Clear();
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private void BuildCalendar(List<DateTime> dates)
    {
        weeks.Clear();

        var ordered = dates.OrderBy(x=>x).ToList();
        var first = ordered.First();

        int shift = ((int)first.DayOfWeek + 6) % 7; //Пн

        var temp = new List<DateTime?>();

        for (int i = 0; i < shift; i++)
        {
            temp.Add(null);
        }

        foreach (var d in ordered)
        {
            temp.Add(d);
        }

        while (temp.Count % 7 != 0)
        {
            temp.Add(null);
        }

        for (int i = 0; i < temp.Count; i += 7)
        {
            weeks.Add(temp.Skip(i).Take(7).ToList());
        }
    }
}
