@page "/add-schedule/{id:int?}"
@using Microsoft.Extensions.Logging
@using VisitsApp.Core.Models
@using VisitsApp.Core.Services

@inject ToastService _toastService;
@inject ScheduleService service;
@inject ILogger<ScheduleService> Logger;

@if (Id != null)
{
    <h3>Редактирование расписания</h3>
}
else
{
    <h3>Добавить расписание</h3>
}

<!-- Выбор месяца, года и названия расписания -->
<div class="row g-3 mb-4 align-items-end">
    <!-- Месяц -->
    <div class="col-md-3">
        <label for="monthSelect" class="form-label fw-bold small">Выберите месяц:</label>
        <select id="monthSelect" class="form-select shadow-sm"
                @bind="selectedMonthIndex"
                @bind:after="UpdateScheduleName">
            <option value=""></option>
            @for (int i = 0; i < months.Length; i++)
            {
                <option value="@i">@months[i]</option>
            }
        </select>
    </div>

    <!-- Год -->
    <div class="col-md-2">
        <label for="yearSelect" class="form-label fw-bold small">Год:</label>
        <select id="yearSelect" class="form-select shadow-sm"
                @bind="currentYear"
                @bind:after="UpdateScheduleName">
            @for (int year = DateTime.Now.Year - 1; year <= DateTime.Now.Year + 5; year++)
            {
                <option value="@year">@year</option>
            }
        </select>
    </div>

    <!-- Название расписания -->
    <div class="col-md-7">
        <label for="scheduleName" class="form-label fw-bold small">Название расписания:</label>
        <div class="input-group shadow-sm">
            <span class="input-group-text bg-white"><i class="bi bi-pencil-square"></i></span>
            <input id="scheduleName" type="text" class="form-control"
                   @bind="scheduleName" placeholder="Например: Продвинутая группа - Февраль" />
        </div>
    </div>

    <!-- Стоимость -->
    <div class="col-md-4 mt-3">
        <label class="form-label fw-bold small">Стоимость абонемента:</label>
        <div class="input-group shadow-sm">
            <input type="number" class="form-control" @bind="costSubscriptions" />
            <span class="input-group-text">₽</span>
        </div>
    </div>

    <!-- Доступные группы для выбора -->
    <div class="col-md-5">
        <label class="form-label fw-bold small">Группы:</label>
        <div class="dropdown shadow-sm" style="width: 100%;">
            <button class="btn btn-outline-secondary dropdown-toggle w-100 text-start bg-white d-flex justify-content-between align-items-center"
                    type="button"
                    id="groupDropdown"
                    data-bs-toggle="dropdown"
                    data-bs-auto-close="outside"
                    aria-expanded="false">
                <span class="text-truncate me-2">
                    @GetSelectedGroupsText()
                </span>
            </button>

            <ul class="dropdown-menu w-100 shadow py-2"
                aria-labelledby="groupDropdown"
                style="max-height: 250px; overflow-y: auto;">
                @if (availableGroups != null && availableGroups.Any())
                {
                    @foreach (var group in availableGroups)
                    {
                        <li class="px-2">
                            <div class="dropdown-item rounded">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox"
                                           id="grp_@group.Key"
                                           checked="@SelectedGroupIds.Contains(group.Key)"
                                           @onchange="@(e => ToggleGroup(group.Key, e.Value))" />
                                    <label class="form-check-label w-100"
                                           style="cursor:pointer" for="grp_@group.Key">
                                        @group.Value.Name
                                    </label>
                                </div>
                            </div>
                        </li>
                    }
                }
                else
                {
                    <li class="px-3 small text-muted">Групп нет...</li>
                }
            </ul>
        </div>
    </div>
</div>

<div class="row text-center fw-bold mb-2">
    @foreach (var d in weekHeaders)
    {
        <div class="col border py-2 @(d.IsWeekend ? "text-danger" : "")">
            @d.Name
        </div>
    }
</div>

<!-- Кнопки дней -->
@foreach (var week in weeks)
{
    <div class="row text-center">
        @foreach (var day in week)
        {
            if (day == null)
            {
                <div class="col border p-2 bg-light"></div>
            }
            else
            {
                <div class="col border p-2">
                    <button class="btn w-100
                                   @(SelectedDays.Contains(day.Value) ? "btn-primary" : "btn-outline-secondary")"
                            @onclick="() => ToggleDaySelection(day.Value)">
                        @day.Value.Day
                    </button>
                </div>
            }
        }
    </div>
}

<!-- Кнопка сохранить -->
<div class="row">
    <div class="col-3" >
        <button type="button" class="btn btn-success" @onclick="SaveSchedule">Сохранить</button>
    </div>
</div>

@* Уведомления *@
<ToastContainer />


@code 
{
    [Parameter]
    public int? Id { get; set; }

    private int? currentYear = DateTime.Now.Year;

    private int? selectedMonthIndex = null;

    private string[] months = new string[] 
    { "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", 
      "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"};

    List<(string Name, bool IsWeekend)> weekHeaders = new()
    {
        ("Пн", false), ("Вт", false), ("Ср", false), ("Чт", false),
        ("Пт", false), ("Сб", true), ("Вс", true)
    };

    List<List<DateTime?>> weeks = new();

    private string scheduleName = string.Empty;

    private decimal costSubscriptions = 0;

    // Словарь: Ключ - ID группы, Значение - Название группы
    private Dictionary<int, Group> availableGroups = new();

    private HashSet<DateTime> SelectedDays { get; set; } = new HashSet<DateTime>(); // Храним выбранные дни

    // Множество ID выбранных групп
    private HashSet<int> SelectedGroupIds = new();

    protected async override Task OnInitializedAsync()
    {
        if (Id != null)
        {
            var loadedSchedule = await service.GetSchedule(Id.Value);

            costSubscriptions = loadedSchedule.CostSubscriptions;
            selectedMonthIndex = loadedSchedule.Month-1;

            scheduleName = string.IsNullOrEmpty(loadedSchedule.ScheduleName) ? $"{months[selectedMonthIndex.Value]} {loadedSchedule.Year}" 
                                                                             : loadedSchedule.ScheduleName;

            var calendar = service.BuildCalendar(loadedSchedule.Year, loadedSchedule.Month);
            weeks.Clear();
            weeks.AddRange(calendar);
            foreach (var week in weeks)
            {
                foreach (var date in week.Where(x=>x != null))
                {
                    if (loadedSchedule.Days.FirstOrDefault(x => x.Day == date.Value.Day) != null)
                    {
                        ToggleDaySelection(date.Value);
                    }
                }
            }

            StateHasChanged();
        }

        var groups = await service.GetAllGroups();
        availableGroups = new Dictionary<int, Group>(groups.Count);
        foreach(var g in groups)
        {
            availableGroups.Add(g.Id, g);
        }
    }

    private void UpdateScheduleName()
    {
        if (selectedMonthIndex == null)
        {
            return;
        }
        if (currentYear == null)
        {
            return;
        }

        var year = currentYear.Value;
        var monthIndex = selectedMonthIndex.Value;

        scheduleName = $"{months[monthIndex]} {currentYear}";
        SelectedDays.Clear(); // Очищаем выбранные дни при смене месяца

        var calendar = service.BuildCalendar(year, monthIndex+1);
        weeks.Clear();
        weeks.AddRange(calendar);

        StateHasChanged(); // Обновляем UI, чтобы кнопки дней перерисовались
    }

    // Обработка клика по чекбоксу
    private void ToggleGroup(int groupId, object checkedValue)
    {
        if ((bool)checkedValue)
            SelectedGroupIds.Add(groupId);
        else
            SelectedGroupIds.Remove(groupId);
    }

    // Текст для отображения в кнопке
    private string GetSelectedGroupsText()
    {
        if (!SelectedGroupIds.Any()) return "Выберите группы...";

        var names = availableGroups
            .Where(g => SelectedGroupIds.Contains(g.Key))
            .Select(g => g.Value.Name);

        return string.Join(", ", names);
    }

    private void ToggleDaySelection(DateTime day)
    {
        if (SelectedDays.Contains(day))
        {
            SelectedDays.Remove(day);
        }
        else
        {
            SelectedDays.Add(day);
        }
    }

    private async Task SaveSchedule()
    {
        if (currentYear == null)
        {
            Logger.LogWarning("Сохранение расписания отменено, не выбран год");
            _toastService.ShowError("Выберите год");
            return;
        }
        if (selectedMonthIndex == null)
        {
            Logger.LogWarning("Сохранение расписания отменено, не выбран месяц");
            _toastService.ShowError("Выберите месяц");
            return;
        }
        if (SelectedDays.Count == 0)
        {
            Logger.LogWarning("Сохранение расписания отменено, не выбраны дни");
            _toastService.ShowError("Выберите хотя бы 1 день");
            return;
        }


        try
        {
            if (Id != null)
            {
                var days = SelectedDays.Select(x => x.Day).ToList();
                //обновление
                var schedule = await service.GetSchedule(Id.Value);
                schedule.Days.Clear();
                foreach (var d in days)
                {
                    schedule.Days.Add(new VisitsApp.Core.Models.ScheduleDay { Schedule = schedule, Day = d });
                }
                schedule.CostSubscriptions = costSubscriptions;
                schedule.Month = selectedMonthIndex.Value + 1;
                schedule.ScheduleName = scheduleName;
                schedule.Year = currentYear.Value;

                await service.UpdateShedule(schedule);

                _toastService.ShowSuccess("Расписание успешно обновлено!");
            }
            else
            {
                //добавление
                var days = SelectedDays.Select(x => x.Day).ToList();

                var schedule = new VisitsApp.Core.Models.Schedule
                {
                    CostSubscriptions = costSubscriptions,
                    Month = selectedMonthIndex.Value + 1,
                    ScheduleName = scheduleName,
                    Year = currentYear.Value,
                    Days = new List<VisitsApp.Core.Models.ScheduleDay?>(days.Count)
                };
                foreach (var d in days)
                {
                    schedule.Days.Add(new VisitsApp.Core.Models.ScheduleDay { Schedule = schedule, Day = d });
                }

                await service.AddSchedule(schedule);
                SelectedDays.Clear();

                _toastService.ShowSuccess("Расписание успешно создано!");
            }
        }
        catch (Exception ex)
        {
            if (Id != null)
            {
                _toastService.ShowError("Не удалось обновить расписание");
            }
            else
            {
                _toastService.ShowError("Не удалось добавить расписание");
            }
            Logger.LogError(ex.Message);
        }
    }

    private void BuildCalendar(List<DateTime> dates)
    {
        weeks.Clear();
    }
}
